
@{
    ViewData["Title"] = "Index";
}

<h2></h2>
<ul>
    <li>
        <a asp-controller="Olimp" asp-action="StartTodayPrematch">Start(Today_Prematch)</a>
    </li>
    <li>
        <a asp-controller="Olimp" asp-action="StopTodayPrematch">Stop(Today_Prematch)</a>
    </li>

    <li>
        <a asp-controller="Olimp" asp-action="Startprematch">Start(Prematch_All)</a>
    </li>
    <li>
        <a asp-controller="Olimp" asp-action="StopAllPrematch">Stop(Prematch_All)</a>
    </li>

</ul>

