
@{
    ViewData["Title"] = "ParserView";
}



<ul>
    <li>
        <a  asp-action="StartPrematch">start(prematch)</a>
    </li>
    <li><a asp-action="StopPrematch">stop(prematch)</a></li>
</ul>
<hr />
<ul>
    <li>
        <a asp-action="StartLive">start(live)</a>
    </li>
    <li>
        <a asp-action="StopLive">stop(live)</a>
    </li>
</ul>


 
       
        
       
       

   

